.FlightPlanC {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	grid-gap: 24px;
	max-width: 900px;
	margin: 0px auto;

	.Title {
		grid-column: 1 / span 3;
	} // Title

	.SkuPreviewC {
		border: 1px rgba(128,128,128,0.8) solid;
		background-color: rgba(42,42,42,0.25);
		backdrop-filter: blur(12px); // Chromium browsers only
		max-width: 400px;
		box-shadow:	inset 0 0 50px rgba(252,252,252,0.15),
					inset 20px 0 80px rgba(252,0,252,0.15),
					inset -20px 0 80px rgba(0,252,252,0.15),
					inset 20px 0 300px rgba(252,0,252,0.15),
					inset -20px 0 300px rgba(0,252,252,0.15),
					0 0 5px rgba(252,252,252,0.5),
					-5px 0 20px rgba(252,0,252,0.5),
					5px 0 20px rgba(0,252,252,0.5);

		.Preview {
			width: 80%;
			margin: 0px auto;
			border-top: 1px grey solid;
			border-bottom: 1px grey solid;
			padding: 20px 0px 10px 0px;

		} // Preview (img thumbnail) 

		.Stats {
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			.Box {
			
				p {
					line-height: 1rem;

				} // p

			} // Box

			.Box:nth-of-type(1) {
				grid-column: 1 / span 2;
				min-width: 200px;
				margin: 0px auto;	

				p {
					line-height: 0.25rem;

				} // p

			} // First two boxes

		} // Stats

		img {
			height: 300px;

		} // img

	} // SkuPreviewC

	.TripSelectC {
		display: flex;
		flex-direction: column;

		.Title {
			background-color: rgba(19,19,19,0.8);
			border: 1px white solid;
			margin-bottom: 12px;
		} // Title

		.Box {
			background-color: rgba(19,19,19,0.8);
			border: 1px rgba(252,252,252,0.2) solid;
			width: 200px;
			margin: 12px auto;
			cursor: pointer;

			&:hover {
				background-color: rgba(92,92,92,0.4);
				border: 1px rgba(252,252,252,0.5) solid;

			} // Box:hover

		} // Box

		.Active {
			background-color: rgba(19,19,19,0.8);
			border: 1px rgba(252,252,252,0.2) solid;
			width: 220px;
			margin: 12px auto;
			cursor: pointer;

			&:hover {
				background-color: rgba(92,92,92,0.4);
				border: 1px rgba(252,252,252,0.5) solid;

			} // Active:hover

		} // Active

	} // TripSelectC


} // FlightPlanC