.RocketsC {
	color: white;
	width: 100%;
	max-width: $max-width;
	margin: 1rem auto; // 2 rem height
	display: grid;
	grid-gap: 25px;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-evenly;
	text-align: center;
	overflow: auto;
	max-height: calc(100vh - 6rem); // 4 rem header
	padding: 0px 12px;

	.SkuPreviewC {
		border: 1px grey solid;
		background-color: rgba(42,42,42,0.25);
		backdrop-filter: blur(12px);

		.Title {
		} // Title

		.Preview {
			width: 80%;
			margin: 0px auto;
			border-top: 1px grey solid;
			border-bottom: 1px grey solid;
			padding: 20px 0px 10px 0px;

		} // Preview (img thumbnail) 

		.Stats {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			cursor: default;

			.Box {
			
				p {
					line-height: 1rem;

				} // p

			} // Box

			.Box:nth-of-type(1) {
				grid-column: 1 / span 2;
				min-width: 200px;
				margin: 0px auto;	

				p {
					line-height: 0.25rem;

				} // p

			} // First two boxes


		} // Stats

		img {
			height: 300px;

		} // img


	} // SkuPreviewC

	@-moz-document url-prefix() { 

		.SkuPreviewC {
			background-color: rgba(19,19,19,0.8);
		}

	} // Firefox only

	@include respond-to('medium') {
		grid-template-columns: repeat(2, 1fr);
		max-width: 800px;

	} // media query - medium

	@include respond-to('small') {
		grid-template-columns: repeat(1, 1fr);
		width: 400px;
		max-width: 100%;

	} // media query - small

} // RocketsC